# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# IDE / Editor configs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
